.bag-item-container {
  margin-bottom: 8px;
  width: 50vw;
  background: #fff;
  font-size: 14px;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  position: relative;
  padding: 12px 12px 0;
}

.item-left-part {
  position: absolute;
  background: rgb(255, 242, 223);
  height: 148px;
  width: 111px;
}

.item-right-part {
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-left: 111px;
  margin-bottom: 12px;
}

.bag-item-img {
  width: 100%;
}

.return-period {
  display: inline-flex;
  font-size: 14px;
  padding-top: 8px;
}

.return-period-days {
  font-weight: 700;
  margin-right: 4px;
}

.delivery-details {
  margin-top: 5px;
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
}

.delivery-details-days {
  margin-left: 5px;
  color: #03a685;
}

.remove-from-cart {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 18px;
  width: 14px;
  height: 10px;
  cursor: pointer;
}
.qty {
  display: flex;
  align-items: center;
}
.minus {
  font-size: 16px;
  margin-left: 2px;
  cursor: pointer;
}
.add {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 1px;
  cursor: pointer;
}
