.bag-page {
  margin-left: 5vw;
  margin-right: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bag-items-container {
  flex: 1;
  margin-right: 20px; /* Adds space between items and summary */
}


